.itemDetail {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    margin-bottom: 150px;
}

.info-titulos {
    border: 3px dotted green;
    background-color: aliceblue;
    padding: 50px;
    border-radius: 4px;
    box-shadow: 18px 1.25rem black;
}

.titulos {
    color: black;
}

.imgDetail {
    width: 400px;
    filter: drop-shadow(5px 1px 5px black);
}
