@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.navbar {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
    padding-left: 10px;
    padding-right: 20px;
}

.navbar__links {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-family: "Bebas Neue", cursive;
    font-size: 2em;
}

.navbar__li {
    text-decoration: none;
    color: aliceblue;
}

.navbar__li:hover {
    text-decoration: overline 10px;
}

.navbar__logo {
    width: 150px;
}

.navbar__cartwidget {
    color: white;
    position: relative;
}

.cart-dropdown {
    position: absolute;
    top: 190px;
    right: 0;
    background-color: black;
    padding: 10px;
    width: 500px;
    height: 100%;
    color: white;
    animation: slideIn 0.3s forwards;
    transform-origin: top right;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
    z-index: 5;
}

.cart-dropdown.open {
    transform: scaleX(1);
    width: 700px;
}

.cart-dropdown h2 {
    color: rgb(0, 0, 0);
    font-size: 16px;
    margin-bottom: 10px;
}

.cart-dropdown a {
    color: white;
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
}

.cart-dropdown a:hover {
    text-decoration: underline;
}

.navbar__cartwidget:hover + .cart-dropdown,
.cart-dropdown.open {
    transform: scaleX(1);
}

.cart-dropdown.closed {
    animation: slideOut 0.3s forwards;
}

@keyframes slideIn {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}

@keyframes slideOut {
    from {
        transform: scaleX(1);
    }
    to {
        transform: scaleX(0);
    }
}
